.note{
    height: 150px;
    width: 150px;
    background-color: rgb(39, 39, 40);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.note > h3,.note > p{
    display: flex;
    justify-content: center;
    width: 100%;
}

.note > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.del_note{
    height: 200px;
    width: 200px;
    background-color: #cac9c6;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.del_note p{
    display: flex;
    flex-direction: column;
    text-decoration: line-through;
}

.del_note a{
    color: black;
}